a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
.range-price{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.range-price label{
    font-size: 15px;
}
.range-price strong{
    font-size: 15px;
}
#range-price-minmax{
    background: #ccc;
    margin-top: 10px;
    height: 7px;
    width: 250px;
    border: none;
    outline: none;
}
#range-price-minmax .ui-slider-range{
    background: #0075bc;
}
#range-price-minmax .ui-slider-handle{
    border-radius: 50%;
    background: #0075bc;
    width: 18px;
    height: 18px;
    border: none;
}
#range-price-minmax .ui-slider-handle:active,
#range-price-minmax .ui-slider-handle:hover,
#range-price-minmax .ui-slider-handle:focus{
    border: none;
    outline: none;
}


/* PRODUCTS */
.products{
    width: 100%; 
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0 30px 0;
}
.link-products{
    width: 100%;
    margin: 20px 0;
	flex-wrap: wrap;
	background-color: #f6f6f6;
	padding: 30px 0;
}
.link-products h2{
	font-weight: 500;
	color: #000;
	font-size: 24px;
}
.link-products a{
    color:#555;
	font-size: 16px;
}
.products .banner-top{
    width: 80%;
}

.col-1-of-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.col-1-of-4 input{
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    font-size: 20px;
    color: #000;
    padding: 6px 6px;
    border-radius: 2px;
}
.col-1-of-4 .block-title {
    color: var(--grey1);
    margin-bottom: 1.6rem;
}
  
.col-1-of-4 h3 {
    font-size: 20px;
    font-weight: inherit;
}
  
.col-1-of-4 > div {
    padding: 2rem 0;  
    width: 90%; 
}
.col-1-of-4 .block-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.products-layout {
    width: 80%;
    display: grid;
    grid-template-columns: 1.05fr 3fr;
    gap: 0 1rem;
}
  
.col-3-of-4 {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}

.col-3-of-4 .top-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
} 
.col-3-of-4 .top-list select{
    margin-right: 10px;
}
.result-items p{
    font-size: 15px;
    color: var(--grey1);
}
.result-items .title::after{
    content: '';
    background: #3a3b3c;
    width: 150px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 3px;
}
.col-3-of-4 form {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 2rem 0;
  
}
.col-3-of-4 form .item {
    margin-right: 1rem;
}
  
.col-3-of-4 form label {
    color: var(--grey1);
    font-size: 15px;
}
  
.col-3-of-4 form select {
    font-family: 'Poppins', sans-serif;
    padding: 7px 12px;
    width: 190px;
    border: 1px solid #ccc;
    outline: none;
    background: #f6f6f6;
}
  
.col-3-of-4 form a {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 20px;
    margin-right: 1rem;
    background-color: #0075bc;
    color: var(--white);
    transition: all 300ms ease-in-out;
    font-size: 15px;
    cursor: pointer;
}
  
.col-3-of-4 form a:hover {
    background-color: #fbaa19;
    color: #fff;
}
.products .product-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
    width: 90%;
}
  
.products .product-layout .product {
    overflow: hidden;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
}
.products .product-layout .product .img-container {
    position: relative;
    cursor: pointer;
}
.img-overlay{
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.product:hover .img-overlay::after{
    transform: scaleX(2);
}
.img-overlay::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scaleX(0);
    transition: all transform 0.25s ease-in;
    left: -50%;
}
.product:hover .img-overlay::before{
    transform: scaleX(2);
}
.img-overlay::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scaleX(0);
    transition: all transform 0.25s ease-in;
}
.product .img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
  
.product .bottom {
    padding: 1rem;
    text-align: center;
    background-color: #dadada38;
}

.product:hover{
    transform: scale(1.05);
    transition: ease all 300ms;
}
.product .bottom > a{
    font-size: 15px;
    font-weight: 500;
}
.product .bottom > a:hover{
    color: #ff4545;
}
.product .bottom .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .bottom .price .price-view{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
.product .bottom .price .price-view span:first-child{
    font-weight: 600;
    font-size: 18px;
}
.product .bottom .price .price-view span:last-child{
    font-weight: 600;
    font-size: 13px;
    color: #0075bc;
}
.product .bottom .price .price-view span i{
    color: #fbaa19;
}
.product .bottom .price .addCart{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.product .bottom .price .addCart a{
    background: #0075bc;
    text-align: center;
    font-size: 14px;
    padding: 6px 10px;
    color: #fff;
    border-radius: 4px;
}

.product .bottom .price .addCart a:hover{
    background: #fbaa19;
}
.product .box-sale{
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    background: var(--primary);
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 0 0 1rem 0;
}
.product .side-icons {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(80%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: all 500ms ease-in-out;
}
  
.product .side-icons span {
    font-size: 12px;
    background:  #0075bc;
    margin: 0.2rem;
    padding: 0.4rem 0.7rem;
    border-radius: 50%;
    transition: all 500ms ease-in-out;
}
.product .side-icons span i{
    color: #fff;
}
.product .side-icons span:hover {
    background-color: #fbaa19;
}
.product:hover .side-icons {
    transform: translate(20%, -50%);
}
.product .details-demo{
    position: absolute;
    left: 0;
    top: 40%;
    display: flex;
    transform: translate(-100%, -35%);
    flex-direction: column;
    text-align: left;
    transition: all 500ms ease-out;
}
.products .details-demo li{
    transition: all 500ms ease-out;
    margin: 0.1rem;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
}
.product:hover .details-demo{
    transform: translate(5%, -35%);
}
.product .home-product-sale{
    margin-top: 30px;
}
.product .bottom strike{
    font-weight: 300;
}

.block-content li label {
    color: var(--black);
}
.block-content li label span{
    font-size: 15px;
}
.block-content li label small {
    font-size: 15px;
}
  
.block-content li input {
    outline: none;
}
.block-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}
  
.pagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--black);
    font-size: 15px;
    border: 1px solid var(--grey2);
    margin-right: 0.5rem;
    cursor: pointer;
}
.pagination span:first-child{
	border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
} 
.pagination span.last {
    width: 7rem;
    border-radius: 3rem;
}
  
.pagination span:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
}

@media (max-width: 1500px){
    .col-3-of-4 .product .details-demo li{
        font-size: 12px;
    }
    .product .box-sale h3{
        font-size: 12px;
    }
}
@media only screen and (max-width: 1350px) {
    .products-layout {
        grid-template-columns: repeat(1, 1fr);
    }
   
}
@media only screen and (max-width: 1350px) {
    .col-1-of-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 1128px) {
    .product .side-icons span {
        font-size: 10px;
        background-color: #0075bc;
        margin: 0.1rem;
        border-radius: 50%; 
    }
    .product .side-icons{
        top: 35%
    }
}
@media only screen and (max-width: 996px) {
    .col-3-of-4 .product-layout {
      grid-template-columns: repeat(2, 1fr);
    }
}


@media only screen and (max-width: 768px) {
    .col-3-of-4 form {
      flex-direction: column;
      align-items: center;
    }
    .col-3-of-4 .top-list{
        flex-direction: column-reverse;
    }
  
    .col-3-of-4 form .item {
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .prodouct-layout {
      grid-template-columns: repeat(2, 1fr); 
      gap: 4rem 0;
    }
}
  
@media only screen and (max-width: 567px) {
    .col-3-of-4 .product-layout {
      grid-template-columns: 1fr;
    }
    .col-3-of-4 .item a{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 351px) {
    .col-1-of-4 input{
        width: 100%;
    }
    #range-price-minmax{
        width: 100%;
       
    }
}




  

    


